h1 {
    position: relative;
    left: 40%;
    color: blue;
}
#checkBoxes {
    position: relative;
    left: 50%;
    font-size: 20px;
}
#showPass {
    position: relative; 
    font-size: 25px;
    text-align: center;
    left: 15%;
}
#Generate {
    position: relative;
    left: 47%;
    font-size: 30px;
}
